<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">

  </head>
  <body> 
    <nav>
      <h1><%= title %></h1>
      <% if (user) { %>
          <a href="/" >Dashboard</a>
          <a href="/inventories" >Inventory</a>
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/auth/google">Login</a>
      <% } %>
    </nav>

