<%- include('./partials/header') %>

  <p> When you login the first time it'll probably say user not found 
    but just refresh localhost and login again. idk why lmk if you know how to fix it \(T.T)/ </p>
  
  
  
<%- include('./partials/footer') %>
