body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
}
.home {
  background-color: #051016;
}

nav{
  background-color: #B03400;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 25px;
  margin: 3vmin 10vmin;
}

nav > a {
  background-color: #B03400;
  color: white;
  text-decoration: none;
  text-align: center;
  border: solid 1px white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: 15vmin;
  margin-right: 5vmin;
}

nav > a:hover {
  background-color: #892900;
  color: white;
}

h1 {
  margin-left: 5vmin;
  font-size: 35px;
  font-weight: 200;
}

.home-text {
  background-color: white;
  color: black;
  width: 85%;
  padding: 5vmin;
  margin: 3vmin 10vmin;
  border-radius: 25px;

}

table {
  border-collapse: collapse;
  color: black;
  width: 89%;
  margin: 4vmin 10vmin;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #e9e9e9;
}
tr:hover {
  background-color: #c59f5d;
}
th {
  background-color: #C48A27;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
}
td > a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

input {
  padding: 8px;
}
label {
  color: black;
  padding: 8px;
  
}

select {
  padding: 8px;

}

#add {
  background-color: #C48A27;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  border: solid 1px white;
  font-size: 14px;
  padding: 8px;
  border-radius: 10px;
  width: 15vmin;
  margin-right: 5vmin;

}

.create-form {
  margin-left: 20vmin;
}
.user-false{
  display: flex;
}

#img-div {
  width: 70vmin;
}

img {
  padding: 4px;
  width: 55vmin;
  height: 75vmin;
  border-radius: 25px;
  margin: 1vmin 10vmin;
}

#text-div {
  background-color: white;
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  width: 70vmin;
  margin: 1vmin 10vmin;
}
.login-google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  width: 15vmin;
  background-color: #F4AF56;
  color: white;
  border-radius: 10px;
  padding: 1vmin;
}
.login-google:hover {
  border: solid 2px #F4AF56;
  color: black;
  background-color: white;
}

.login-google img {
  height: 20px;
  width: 20px;
  margin: 0px;
}

