<%- include('../partials/header') %>

<p>Brand: </p>
<p> <%= inventories.brand %> </p>

<button>Edit</button>
<% if (user) { %>
  <form action="/inventories/<%= inventories._id %>?_method=DELETE" method="POST">
    <button type="submit">delete</button>
  </form>
<% } %>
<%- include('../partials/footer') %>